---
component: Upgrading from 5.8 to 5.9
layout: main-layout.html
---

<p>The following lists all of the backward incompatible changes and their alternatives. If no alternative is provided, advice will be given on how to proceed.</p>

<h3>Inline dialog</h3>

<h4>Tag name</h4>
<p>Inline dialog 1 is still deprecated but usable via the imperative <code>AUI.InlineDialog()</code> API. However, the Inline Dialog 2 custom element has been renamed to Inline Dialog.</p>
<script is="aui-docs-code" type="text/html">
    <!-- Old -->
    <aui-inline-dialog2></aui-inline-dialog2>

    <!-- New -->
    <aui-inline-dialog></aui-inline-dialog>
</script>

<h4><code>persistent</code> property / attribute</h4>
<p>The <code>persistent</code> attribute is now a <a href="https://html.spec.whatwg.org/#boolean-attributes">boolean attribute</a>.</p>
<script is="aui-docs-code" type="text/html">
    <!-- Old -->
    <aui-inline-dialog2 persistent="true"></aui-inline-dialog2>
    <aui-inline-dialog2 persistent="false"></aui-inline-dialog2>

    <!-- New -->
    <aui-inline-dialog persistent></aui-inline-dialog>
    <aui-inline-dialog></aui-inline-dialog>
</script>

<div class="aui-message aui-message-warning">
    <p class="title">Boolean attributes</p>
    <p>Now that <code>persistent</code> is a boolean attribute, this means that if you set <code>persistent="false"</code>, it will be interpreted as <code>true</code>.</p>
</div>

<h4>Events</h4>
<p>Event listeners now do not contain the component prefix. They are only prefixed with <code>aui-</code>. This will be a convention for everything moving forward.</p>
<script is="aui-docs-code" type="text/js">
    // Old
    inlineDialog.addEventListener('aui-layer-hide', handler);
    inlineDialog.addEventListener('aui-layer-show', hander);

    // New
    inlineDialog.addEventListener('aui-hide', handler);
    inlineDialog.addEventListener('aui-show', hander);
</script>

<h4>Methods removed in favour of <code>open</code> property / attribute</h4>
<p>The <code>hide()</code>, <code>isVisible()</code> and <code>show()</code> methods have all been removed in lieu of a single <code>open</code> property / attribute.</p>
<script is="aui-docs-code" type="text/js">
    // Old
    inlineDialog.hide();
    var isVisible = inlineDialog.isVisible();
    inlineDialog.show();

    // New
    inlineDialog.open = false;
    var isVisible = inlineDialog.open;
    inlineDialog.open = true;
</script>
